@media (min-width: 992px) {
  .navbar1_menu {
    flex: 1 1 auto;
  }
  .navbar1_component.is-active .navbar1_menu {
    flex: 0 0 auto;
  }

  /* Outer — видны по умолчанию */
  .navbar1_logo-link {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    transition: transform 1s ease 0.3s, opacity 1s ease 0.3s;
  }

  .navbar1_menu-buttons.is-main {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    transition: transform 1s ease 0.3s, opacity 1s ease 0.3s;
  }

  .navbar1_component.is-active .navbar1_logo-link {
    transform: translateX(20rem);
    opacity: 0;
    pointer-events: none;
    transition: transform 1s ease, opacity 1s ease;
  }

  .navbar1_component.is-active .navbar1_menu-buttons.is-main {
    transform: translateX(-20rem);
    opacity: 0;
    pointer-events: none;
    transition: transform 1s ease, opacity 1s ease;
  }

  /* Inner — скрыты по умолчанию */
  .navbar1_link-logo,
  .navbar1_menu-buttons.is-in {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-width 1s ease 0.3s, opacity 1s ease 0.3s;
  }

  .navbar1_component.is-active .navbar1_link-logo,
  .navbar1_component.is-active .navbar1_menu-buttons.is-in {
    max-width: 300px;
    opacity: 1;
    pointer-events: auto;
    transition: max-width 1s ease 0.5s, opacity 1s ease 0.5s;
  }

   .navbar1_component.is-active .navbar1_menu-in {
     border-color: var(--_02-colors-semantic---border--border-secondary);
   }
    
}
