@media (min-width: 992px) {
    .navbar1_menu {
      flex: 1 1 auto;
    }

    .navbar1_link-logo,
    .navbar1_menu-buttons.is-in {
      max-width: 0;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }

    .navbar1_component.is-active .navbar1_menu-in {
      border-color: var(--_02-colors-semantic---border--border-secondary);
    }

    .navbar1_component.is-active .navbar_logo-text {
      pointer-events: none;
    }
  }
